# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Ignore q file
*/db
*/incremental_db
*/output_files
*/simulation



# Don't ignore .gitignore
!.gitignore
!LICENSE
!README.md

!*.v
!*.vwf
