# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Ignore q file
*/db
*/incremental_db
*/output_files
*/simulation
*/*.do



# Don't ignore .gitignore
!.gitignore
!LICENSE
!README.md

!*.v
!*.vwf


*.sim.vwf
*.msim.vwf

/demoV